<h1 id="title">材料名がデータベースに登録されていません</h1>

<a class="btn logintop" href="/login_top">ログイントップへ</a>
　<div class="error">
    <p>Error...</p>
      <img src="/image/error_image.png" class="error_image">

  </div>

  <div class="error_msg">
    <div class="msg">
      <p class="oops">しまった！</p>
      <br>
      <p>あなたの入力した材料が データベースに登録されていないため</p>
      <p>エラーになりました</p>
      <br>
    </div>
    <div class="item">
      <p class="item_title">入力できる材料名</p>
      <p>にんじん　じゃがいも　たまねぎ　ピーマン</p>
      <p>牛肉　豚肉　鶏肉</p>
      <p>塩　味噌　砂糖　etc.</p>
    </div>
  <div>
  <br>
  <br>
  <div class="retry">
    <a class="btn reregistration" href="/list_form">もう一度登録する</a>
  </div>
</div>
