<h1 id="title">u:river</h1>

<main>
<div class="top">
  <div class=overview>
    <h1>CommitTestこんにちは、<%= @name %>さん！</h1>
  </div>
  <div class="top-wrapper">
    <div class="howto">
     <p><a class="btn" href="/list_form">登録する</a></p><br>
     <h2 class="step 1">STEP1</h2>
     <p><i class="awsome far fa-edit fa-5x"></i></p>
     <p>献立を考えて料理名と材料名</p>
     <p>を入力して保存します</p>
    </div>
    <div class="howto">
      <p><a class="btn" href="/list_show">表示する</a></p><br>
      <h2 class="step 2">STEP2</h2>
      <p><i class="awsome fas fa-sort-alpha-down fa-5x"></i></p>
      <p>肉コーナー、野菜コーナーなど</p>
      <p>売り場ごとに材料が並びます</p>
    </div>
    <div class="howto">
      <p class="dummy">dummy</p><br>
      <h2 class="step 3">STEP3</h2>
      <p><i class="awsome fas fa-tasks fa-5x"></i></p>
      <p>買い物カゴに入れたら</p>
      <p>チェックしましょう</p>
    </div>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</main>

<!--
<h1 id="title">Shopping Assist (ver.β)</h1>


<main>
  <p>こんにちは、<%= @name %>さん</p>
  <p>買い物をスマートにお手伝い！</p>
  
  <br>
  <br>
  <br>
  <p>～ 使い方 ～</p>
  <p>1. 「登録」ページにて "料理名" と "材料名" を入力</p>
  <p>2. 「表示」ページで、材料を表示します。</p>

  <br>
  <br>
  <br>
  <p>～ 機能紹介 ～</p>
  <p>Point： 購入した材料にはチェックマークを付けれます</p>
  <p>Point： 野菜・精肉・果物… etc と言った販売コーナー別に表示します</p>
</main>

<div id="link_nav">
  <a href="/list_form">登録へ</a>
  <a href="/list_show">表示へ</a>
</div>
-->