    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="overview">
        <h1>新規登録</h1>
    </div>

<form action="/signup" method="POST">
    <div class="input">
        <div>
            <p><img src="/image/logo.png" class="logo"></p>
            <br>
            <br>
            <input type="text" name="name" placeholder="お名前" autocomplete="off">
            <br>
            <br>
            <input type="password" name="password" placeholder="パスワード"  autocomplete="off"> 
            <!-- input typeがpasswordの場合は伏せ字になる -->
        </div>
            <br>
            <br>
        <div class="signup_subit">
            <input type="submit" value="登録">
        </div>
    </div>
</form>