<h1 id="title">登録ページ</h1>

<a class="btn logintop" href="/login_top">ログイントップへ</a>
  <br>
  <br>
<form id="menu_form" action="/list_form" method="POST">
  <div class="menu">
  <div class="date">
    <p>入力日 <input type="date" name="created_at"></p>
  </div>

  <div id="addBtn">
    <p class="question">何を作りますか？</p>
    <input id="new_menu_name" type="text" placeholder="料理名">
    <button type="button" id="addMenuNameBtn" onclick="addMenuName()">追加</button>
  </div>
  </div>

  <div id="form_main">
  </div>

  <div id="form_send_btn">
    <input type="submit" value="保存する" class="checked">
  </div>
</form>

