<h1 id="title">u:river</h1>

<main>
<div class="top">
  <div class=overview>
    <h1>Welcome to u:river!</h1>
    <p>u:river (うーりばー) は献立を立てた後に売り場ごとに材料を並び替えることができます</p>
    <p>もう売り場を行ったりきたりするのは終わりです</p>
    <p>川 (river) の流れのようにスムーズに買い物をして、空いた時間は休みましょう！</p>
  </div>
  <div class="top-wrapper">
    <div class="howto">
     <h2 class="step 1">STEP1</h2>
     <p><i class="awsome far fa-edit fa-5x"></i></p>
     <p>献立を考えて料理名と材料名</p>
     <p>を入力して保存します</p>
    </div>
    <div class="howto">
      <h2 class="step 2">STEP2</h2>
      <p><i class="awsome fas fa-sort-alpha-down fa-5x"></i></p>
      <p>肉コーナー、野菜コーナーなど</p>
      <p>売り場ごとに材料が並びます</p>
    </div>
    <div class="howto">
      <h2 class="step 3">STEP3</h2>
      <p><i class="awsome fas fa-tasks fa-5x"></i></p>
      <p>買い物カゴに入れたら</p>
      <p>チェックしましょう</p>
    </div>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <div id="link">
  <a class="btn signup" href="/signup">新規登録はこちら</a>
  </div>
</div>
</main>